.table {
	display: grid;
	grid-template-columns: min-content max-content;
	place-items: center start;
	gap: var(--margin);
}

.table img {
	max-width: 128px;
	max-height: 128px;

	width: auto;
	height: auto;
}