Form {
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
}

.EditAppointment .widgets {
	display: grid;
	width: 100%;
	grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: row;
	gap: var(--margin);
	max-width: unset;
}