Form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: var(--margin);
	place-content: end;
}

.searchbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--margin);
}

.buttonbar {
	flex-grow: 1;
	display: grid;
	place-content: end;
}