.card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	cursor: pointer;
	text-decoration: none;
	color: var(--color);

	min-width: min-content;
	width: 100%;
	
	padding: var(--padding);
	gap: var(--margin);
	
	border: var(--border-width) solid var(--control-background);
	border-radius: var(--radius);
}

.card:hover {
	border-color: var(--control-background-hover);
	background-color: var(--control-background-hover);
}

.card:active {
	border-color: var(--control-background-pressed);
	background-color: var(--control-background-pressed);
	color: var(--alt-color);
}

.card img {
	max-width: 128px;
	max-height: 128px;
	aspect-ratio: 1/1;
	flex-grow: 1;

	border-radius: var(--radius);
	border: none;

	background-color: var(--control-background);
}

.card .body {
	min-width: 128px;
	width: calc(100% - 128px - var(--margin));
	min-height: 100%;
	flex-grow: 1;

	display: grid;
	columns: repeat(3, 1fr);
}

.cardList {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
	width: 100%;
}