.fancyCard, .plainCard {
	width: 100%;
	cursor: pointer;
	text-decoration: none;
	color: var(--color);
	display: grid;
	border: var(--border-width) solid var(--control-background);
	border-radius: var(--radius);
	padding: var(--padding);
}

.fancyCard:hover, .plainCard:hover {
	border-color: var(--control-background-hover);
	background-color: var(--control-background-hover);
}

.fancyCard:active, .plainCard:active {
	border-color: var(--control-background-pressed);
	background-color: var(--control-background-pressed);
	color: var(--alt-color);
}

.fancyCard {
	grid-template-areas:
		'pic cardTop'
		'pic cardCenter'
		'pic cardBottom';
	grid-template-columns: auto 1fr;
	column-gap: var(--margin);
}

.fancyCard img {
	grid-area: pic;
	width: 128px;
	height: 128px;
	border-radius: var(--radius);
	background-color: var(--control-background);
	border: none;
}

.plainCard {
	grid-template-areas:
		'cardTop'
		'cardCenter'
		'cardBottom';
}