.Input {
	display: grid;
	grid-template-areas: 
	'label ...'
	'error error';
	grid-template-columns: 1fr 1fr;
	gap: var(--margin);
}

.Input label {
	place-self: center start;
	grid-area: label;
}

.Input input {
	text-decoration: none;
	background-color: var(--control-background);
	color: var(--color);
	border: none;
	font-size: var(--font-size-e);
	padding: var(--control-padding);
	border-radius: var(--radius);
}

.Input input:focus {
	background-color: var(--control-background-hover);
	color: var(--color);
}

.Input input:active {
	background-color: var(--control-background-pressed);
	color: var(--alt-color);
}


.Input input.error, .Input Field.error {
	background-color: var(--warning-color);
}

.Input div.error {
	font-size: var(--font-size-e);
	color: var(--warning-color);
	grid-area: error;
	grid-column: 1/span 2;
}

.Input select {
	text-decoration: none;
	background-color: var(--control-background);
	color: var(--color);
	border: none;
	font-size: var(--font-size-e);
	padding: var(--control-padding);
	border-radius: var(--radius);
}