.Input {
	display: flex;
	flex-flow: row;
	gap: var(--margin);
	flex-grow: 1;
	/* width: 1fr; */
}

.Input label, .Input input, .Input select {
	display: grid;
	place-items: center start;
	flex-grow: 1;
	min-width: max-content;
	/* width: 100%; */
}

.Input input {
	text-decoration: none;
	background-color: var(--control-background);
	color: var(--color);
	border: none;
	font-size: var(--font-size-e);
	padding: var(--control-padding);
	border-radius: var(--radius);
}

.Input input:focus {
	background-color: var(--control-background-hover);
	color: var(--color);
}

.Input input:active {
	background-color: var(--control-background-pressed);
	color: var(--alt-color);
}


.Input input.error, .Input Field.error {
	background-color: var(--warning-color);
}

.Input div.error {
	font-size: var(--font-size-e);
	color: var(--warning-color);
	grid-column: 2/3;
}

.Input select {
	text-decoration: none;
	background-color: var(--control-background);
	color: var(--color);
	border: none;
	font-size: var(--font-size-e);
	padding: var(--control-padding);
	border-radius: var(--radius);
}

Form {
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
	gap: var(--margin);
}

/* For simple inputs with labels, such as text input and drop-down lists */
Form .widgets {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--margin);

	height: max-content;
	max-width: fit-content;
}

/* For fat picker widgets like selecting from a list, or selecting a date */
Form .pickers {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: row;
	grid-auto-rows: 300px;
	gap: var(--margin);

	width: 100%;
	max-width: unset;
	max-height: 100%;
}