.Input {
	display: flex;
	flex-flow: row;
	gap: var(--margin);
	flex-grow: 1;
	width: 1fr;
}

label, input, select {
	display: grid;
	place-items: center start;
	flex-grow: 1;
	min-width: max-content;
	width: 100%;
}

input {
	text-decoration: none;
	background-color: var(--control-background);
	color: var(--color);
	border: none;
	font-size: var(--font-size-e);
	padding: var(--control-padding);
	border-radius: var(--radius);
}

input:focus {
	background-color: var(--control-background-hover);
	color: var(--color);
}

input:active {
	background-color: var(--control-background-pressed);
	color: var(--alt-color);
}


input.error {
	background-color: var(--warning-color);
}

div.error {
	font-size: var(--font-size-f);
	color: var(--warning-color);
	grid-column: 2/3;
}

select {
	text-decoration: none;
	background-color: var(--control-background);
	color: var(--color);
	border: none;
	font-size: var(--font-size-e);
	padding: var(--control-padding);
	border-radius: var(--radius);
}

Form {
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
	gap: var(--margin);
}

/* For simple inputs with labels, such as text input and drop-down lists */
.widgets {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--margin);

	height: max-content;
	max-width: fit-content;
}

/* For fat picker widgets like selecting from a list, or selecting a date */
.pickers {
	display: grid;
	width: 100%;
	grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: row;
	gap: var(--margin);
	max-width: unset;
}