.Page {
	display: grid;
	grid-auto-flow: row;
	gap: var(--margin);
}

.Page .Input {
	grid-template-columns: auto 1fr;
}

/* For fat picker widgets like selecting from a list, or selecting a date */
.Page Form .pickers {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
	max-width: 25rem;
}

.Page Form .widgets {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
}

.Page Form .widgets > * {
	height: 25rem;
}

@media screen and (min-width: 79rem) {
	.Page Form .widgets {
		flex-direction: row;
	}

	.Page Form .pickers {
		max-width: min-content;
	}
}
/*********************************/

/* header {
	display: flex;
	flex-direction: column;
	place-items: unset;
	gap: var(--margin);
} */

header {
	flex-direction: row;
	display: flex;
	flex-direction: row;
	background-color: var(--highlight-pale);
	padding: var(--padding);
	margin-top: var(--margin-small);
	margin-bottom: var(--margin);
	min-height: 5rem;
	/* margin: 0; */
}

header .title {
	font-size: var(--font-size-a);
	text-decoration: none;
	color: var(--highlight);
	font-weight: bold;
}

header .title:hover {
	color: var(--highlight-pale);
}

header .title:active {
	color: var(--highlight-dark);
	z-index: 100;
}

header h1, header h2, header h3 {
	color: var(--alt-color);
}

header > *{
	margin: 0;
}

header > *:first-child {
	width: 100%;
}

header.main .dropdown .menu {
	z-index: 2;
}

header.main {
	background-color: transparent;
	padding: 0;
}

header.main > div {
	display: flex;
	flex-direction: column;
	gap: var(--margin-small);
}

header.main, header.subtitle {
	margin: 0;
	flex-direction: column;
	gap: var(--margin);
}

@media screen and (min-width: 700px) {
	header {
		flex-direction: row;
		place-items: center;
		gap: var(--margin)
	}

	header.main > * {
		width: 100%;
	}
	
	header.main > div {
		display: flex;
		flex-direction: row;
		place-content: flex-end;
	}

	header.main, header.subtitle {
		flex-direction: row;
	}
}