.Picture label {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.Picture img {
	background-color: var(--control-background);
	border: 1px solid var(--control-background-pressed);
	border-radius: var(--radius);

	max-width: 128px;
	max-height: 128px;

	width: auto;
	height: auto;
}

.Picture img:hover {
	background-color: var(--control-background-hover);
}

.Picture img:active {
	background-color: var(--control-background-pressed);
}

.Picture input {
	display: none;
}