.Popup {
	display: grid;
	grid-template-rows: auto 1fr;
	
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--control-background);
	border: 0.1px solid var(--control-background);
	border-radius: var(--radius);
	box-shadow: 0px 0px 5px 5px gray;
	
	min-width: min-content;
	width: 100vw; /*min(calc(100vw - 2 * var(--margin)), 540px);*/
	max-width: 100vw;
	
	min-height: min-content;
	max-height: 100vh;
}

.Popup .controls {
	display: grid;
	background-color: var(--control-background);
	padding: var(--margin-small);
	border-radius: inherit;
	grid-template-areas: 'title buttons';
	grid-template-columns: 1fr auto;
	gap: var(--margin)
}

.Popup .title {
	font-size: large;
	font-weight: bold;
}

.Popup .buttons {
	display: grid;
	place-content: end;
	gap: var(--margin)
}

.Popup .buttons .Button {
	color: var(--color);
	font-size: xx-small;
	padding: 0.5em;
	border: 1px solid var(--control-background-pressed);
}

.Popup .display {
	padding: var(--margin);
	background-color: var(--alt-color);
	border-radius: inherit;
	border-start-start-radius: 0;
	border-start-end-radius: 0;
	
	place-items: left;

	width: 100%;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

.Popup .display > * {
	width: 100%;
}

.Popup .Input {
	display: grid;
	grid-template-areas: 
	'label ...'
	'error error';
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.Popup Form {
	display: grid;
	grid-template-areas:
	'body'
	'buttons';
	gap: var(--margin);
}

.Popup Form > * {
	width: 100%;
}

.Popup Form .widgets {
	display: grid;
	grid-template-columns: 1fr;
	grid-area: body;
	gap: var(--margin);
}

.Popup .buttonBar {
	grid-area: buttons;
	gap: var(--margin);
}

.Popup .Input.Radio .Group {
	display: flex;
	gap: var(--margin);
}

.Popup .Input.Radio .Group div {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--margin-small);
}

.Popup .Input.Radio .Group div * {
	grid-column: unset;
	grid-row: unset;
}

@media screen and (max-width: 540px) {
  .Popup {
    width: calc(100vw - 2 * var(--margin));
  }
}

.Page .Popup > * {
	background-color: lightpink;
}