.tab-container {
	display: flex;
	flex-direction: row;
}

.tab .fas {
	font-size: 2em;
}

/* Tabs */
.tab-bar {
	display: flex;
	flex-direction: column;
}

.tab {
	height: fit-content;
	width: 3rem;
	padding: var(--padding);

	color: var(--control-background-pressed);
	background-color: var(--control-background);

	display: flex;
	flex-direction: column;
	gap: var(--margin);

	border-radius: var(--radius) 0 0 var(--radius);
	border: 0.1rem solid var(--control-background-pressed);
	border-right: none;
}

.tab.selected {
	background-color: var(--highlight-pale);
	color: var(--alt-color);
	font-weight: bold;
	border: none;
}

.tab-title {
	display: none;
}

/* Content */
.tab-body {
	width: 100%;
	min-height: 30rem;
	
	padding: 0;

	border-radius: 0 var(--radius) var(--radius) var(--radius);
	border: 3px solid var(--control-background);
}


.tab-controls {
	display: flex;
	flex-direction: row;
	gap: var(--margin);
	padding: var(--margin);
	place-content: flex-end;
	flex-wrap: wrap;
	background-color: var(--highlight-pale);
}

/* .tab-controls + * {
	margin: var(--margin-small);
} */


.tab-content {
	width: 100%;
	padding: var(--margin);
}
.tab-controls {
	place-items: center;
}

@media screen and (min-width: 41.25rem) {
	.tab-container {
		flex-direction: column;
	}
	
	.tab-bar {
		flex-direction: row;
		height: 3rem;
	}
	
	.tab {
		width: 100%;
		height: 100%;

		flex-direction: row;
		place-items: center;

		border-radius: var(--radius) var(--radius) 0 0;
		border-right: unset;
		border-bottom: none;
	}

	.tab-title {
		display: inline;
	}

	.tab-body {
		border-radius: 0 0 var(--radius) var(--radius);
		border-top: none;
	}

	.tab-controls {
		/* float: right; */
	}
}
