:root{
	--color: black;
	--alt-color: white;
	--warning-color: palevioletred;
	--radius: 5px;
	--margin: 15px;
	--highlight: rgb(0, 128, 128);;
	--highlight-pale: rgb(0, 166.4, 166.4);
	--highlight-dark: rgb(0, 100, 100);
	--font-size-f: 12px;
	--font-size-e: 16px;
	--font-size-d: 20px;
	--font-size-c: 24px;
	--font-size-b: 36px;
	--font-size-a: 48px;
	--control-background: lightgray;
	--control-background-pressed: gray;
	--control-background-hover: rgb(229.5, 229.5, 229.5);
	--control-padding: 1em;
}

body {
	margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
	height: 100vh;
}

.page {
	padding: var(--margin);
	display: grid;
  height: 100%;
	grid-template-rows: auto 1fr;
	box-sizing: border-box;
}

.mainHeader {
	color: var(--highlight);
	margin-bottom: var(--margin);
	display: grid;
	grid-template-columns: auto auto;
}

.mainHeader .title {
	font-size: var(--font-size-a);
	display: grid;
	place-items: center start;
}

.mainHeader .section {
	font-size: var(--font-size-c);
	display: grid;
	place-items: center end;
}

.content {
	display: grid;
	place-items: center;
}

form {
	width: fit-content;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: var(--margin);
	font-size: var(--font-size-e);
}

form label, form input {
	display: grid;
	place-items: center start;
}

form input, form button {
	background-color: var(--control-background);
	border: none;
	padding: var(--control-padding);
	border-radius: var(--radius);
}

form button, .panel input {
	margin-left: var(--margin);
}

form button:hover, form button:focus, form input:focus, .panel input:hover {
	background-color: var(--control-background-hover);
	color: var(--color);
}

form button:active, form input:active, .panel input:active {
	background-color: var(--control-background-pressed);
	color: var(--alt-color);
}

form .panel {
	justify-content: flex-end;
	display: flex;
	height: fit-content;
	grid-column: 1/3;
}

button.okay, input.okay {
	background-color: var(--highlight);
	color: var(--alt-color);
}

button.okay:hover, input.okay:hover, button.okay:focus, input.okay:focus {
	background-color: var(--highlight-pale);
	color: var(--alt-color);
}

button.okay:active, input.okay:active {
	background-color: var(--highlight-dark);
	color: var(--alt-color);
}

input.error {
	background-color: var(--warning-color);
}

div.error {
	font-size: var(--font-size-f);
	color: var(--warning-color);
	grid-column: 2/3;
}

.row {
	margin-bottom: var(--margin);
}