@import "./globals.css";

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	padding: var(--margin);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--margin);
}

/* #root {
	height: 100vh;
} */

h1 {
	color: var(--highlight);
}

h1, h2, h3 {
	margin: var(--margin-small) 0 var(--margin) 0;
}

option:disabled {
	display: none;
}

.headerbar {
	display: grid;
	height: min-content;
	box-sizing: border-box;
	grid-template-columns: 1fr auto;
	place-items: center start;
	margin-bottom: var(--margin);
}

.table {
	display: grid;
	grid-template-columns: min-content max-content;
	place-items: center start;
	gap: var(--margin);
	margin: 0 var(--margin) 0 var(--margin);
}

.table img {
	max-width: 128px;
	max-height: 128px;

	width: auto;
	height: auto;
}

.removable-item {
	display: flex;
	flex-direction: row;
	gap: var(--margin);
	place-items: center;
}

.item-list {
	display: flex;
	flex-direction: column;
	gap: var(--margin)
}